@charset "utf-8";
/*==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Independence_hall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*==== BASE ====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
}

body,
html,
input,
button {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* common */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1400px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    word-break: keep-all;
  }

  .moPd {
    padding-left: 15px;
    padding-right: 15px;
  }

  #sub .mt80 {
    margin-top: 50px !important;
  }

  .secTl {
    font-size: 20px;
  }
}

.ctt_admin,
.ctt_intro,
#ctt {
  display: none;
}

.mb100 {
  margin-bottom: 100px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.orange {
  color: #db5435;
}
.yellow {
  color: #f1c519;
}
.green {
  color: #6dbb5a;
}
.pink {
  color: #da6aa5;
}
.sky {
  color: #00addc;
}
.bgGray {
  background-color: #f9f9fa;
}
.bgIvory {
  background-color: #fffae4;
}
.bgWhite {
  background-color: #fff !important;
}

@media screen and (max-width: 768px) {
  .mb100 {
    margin-bottom: 50px !important;
  }
}

.mobile {
  display: none;
}
.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
