@charset "utf-8";

#bo_list tbody .even td {
  background: #fbfbfb;
}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_list {
  position: relative;
}
#bo_list:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_list .td_board {
  width: 120px;
  text-align: center;
}
#bo_list .td_chk {
  width: 30px;
  text-align: center;
}
#bo_list .td_date {
  width: 60px;
  text-align: center;
  font-style: italic;
}
#bo_list .td_datetime {
  width: 60px;
  text-align: center;
  font-style: italic;
}
#bo_list .td_group {
  width: 100px;
  text-align: center;
}
#bo_list .td_mb_id {
  width: 100px;
  text-align: center;
}
#bo_list .td_mng {
  width: 80px;
  text-align: center;
}
#bo_list .td_name {
  width: 90px;
  text-align: left;
  padding: 10px 0;
}
#bo_list .td_nick {
  width: 100px;
  text-align: center;
}
#bo_list .td_num {
  width: 50px;
  text-align: center;
}
#bo_list .td_num2 {
  width: 50px;
  text-align: center;
}
#bo_list .td_numbig {
  width: 80px;
  text-align: center;
}
#bo_list .txt_active {
  color: #5d910b;
}
#bo_list .txt_expired {
  color: #ccc;
}
#bo_list tbody tr:hover {
  border-left: 2px solid #253dbe;
}

#bo_cate {
  background: #ecf2f3;
  padding: 7px;
  margin: 10px 0;
  border: 1px solid #bed1d4;
}
#bo_cate h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_cate ul {
  zoom: 1;
}
#bo_cate ul:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_cate li {
  display: inline-block;
  padding: 2px;
}
#bo_cate a {
  display: block;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid transparent;
}
#bo_cate a:focus,
#bo_cate a:hover,
#bo_cate a:active {
  text-decoration: none;
  background: #d2d6dc;
}
#bo_cate #bo_cate_on {
  z-index: 2;
  background: #3497d9;
  color: #fff;
  font-weight: bold;
  border-bottom-color: #1977b5;
  -webkit-box-shadow: inset 0 2px 5px rgb(33, 135, 202);
  -moz-box-shadow: inset 0 2px 5px rgb(33, 135, 202);
  box-shadow: inset 0 2px 5px rgb(33, 135, 202);
}
.td_subject img {
  margin-left: 5px;
}

/* 게시판 목록 공통 */
#bo_btn_top {
  margin: 10px 0;
  margin-top: 30px;
}
#bo_btn_top:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
.bo_fx {
  margin-bottom: 5px;
  zoom: 1;
  display: table;
  width: 100%;
  margin-top: 30px;
}
.bo_fx .bo_fx:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
.bo_fx ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#bo_list_total {
  float: left;
  line-height: 30px;
  font-size: 0.92em;
  color: #4e546f;
}

.btn_bo_user {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn_bo_user li {
  float: left;
  margin-left: 5px;
}
.btn_bo_user li button {
  height: 35px;
  line-height: 35px;
  min-width: 80px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  color: #333;
  font-size: 13px;
  font-family: "NotoKR-md";
  font-weight: 400;
}
.btn_bo_user li a {
  height: 35px;
  line-height: 35px;
  min-width: 80px;
  background: #222;
  border: 1px solid #111;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.btn_bo_user li a:hover {
  background: #000;
}
.btn_bo_adm {
  float: left;
}
.btn_bo_adm li {
  float: left;
  margin-right: 5px;
}
.btn_bo_adm input {
  padding: 0 8px;
  border: 0;
  background: #d4d4d4;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
}
.bo_notice td {
  background: #e6f8ff !important;
  border-bottom: 1px solid #c3dfe8;
}
.bo_notice td a {
  font-weight: bold;
}

.bo_notice .notice_icon {
  display: inline-block;
  background: #4158d1;
  width: 25px;
  line-height: 25px;
  border-radius: 5px;
  font-weight: normal;
  color: #fff;
}
.td_num strong {
  color: #000;
}
.bo_cate_link {
  display: inline-block;
  color: #3497d9;
  height: 20px;
  font-size: 0.92em;
} /* 글제목줄 분류스타일 */
.bo_tit {
  display: block;
  color: #000;
}
.bo_current {
  color: #e8180c;
}
/*#bo_list .profile_img {display:inline-block;margin-right:2px}*/
#bo_list .profile_img img {
  border-radius: 50%;
}
#bo_list .cnt_cmt {
  background: #5c85c1;
  color: #fff;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.3);
}

#bo_list .bo_tit .title_icon {
  margin-right: 2px;
  vertical-align: -1px;
}
#bo_list .bo_tit .fa-download {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #e89f31;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 2px;
  margin-right: 2px;
  vertical-align: middle;
}
#bo_list .bo_tit .fa-link {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #ad68d8;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 2px;
  margin-right: 2px;
  vertical-align: middle;
  font-weight: normal;
}
#bo_list .bo_tit .new_icon {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  font-size: 0.833em;
  color: #ffff00;
  background: #6db142;
  text-align: center;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 2px;
}
#bo_list .bo_tit .fa-heart {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  font-size: 0.833em;
  color: #fff;
  background: #e52955;
  text-align: center;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 2px;
  font-weight: normal;
}
#bo_list .bo_tit .fa-lock {
  display: inline-block;
  line-height: 14px;
  width: 16px;
  font-size: 0.833em;
  color: #4f818c;
  background: #cbe3e8;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid #a2c6ce;
}

#bo_sch {
  background: #fff;
  border-radius: 3px;
  font-size: 12px;
  display: table;
  width: 100%;
  max-width: 390px;
  float: right;
}
#bo_sch:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_sch legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
#bo_sch select {
  border: 0;
  padding: 7px 12px;
  height: 100%;
  float: left;
  border: 1px solid #dedede;
  background-color: #fcfcfc;
  color: #000;
  font-size: 12px;
  width: 92px;
}
#bo_sch .sch_input {
  height: 35px;
  border: 1px solid #dedede;
  background-color: #fcfcfc;
  float: left;
  padding: 5px 10px;
  width: 241px;
  margin-left: 3px;
}
#bo_sch .sch_btn {
  height: 35px;
  float: right;
  background: none;
  border: 0;
  width: 53px;
  font-size: 13px;
  background-color: #444;
  color: #fff;
}

/* 게시판 읽기 */
#bo_v {
  margin-bottom: 20px;
  background: #fff;
  box-sizing: border-box;
}

#bo_v_table {
  position: absolute;
  top: 0;
  right: 16px;
  margin: 0;
  padding: 0 5px;
  height: 25px;
  background: #ff3061;
  color: #fff;
  font-weight: bold;
  line-height: 2.2em;
}

#bo_v_title {
}
#bo_v_title .bo_v_cate {
  display: inline-block;
  line-height: 20px;
  background: #e2eaf6;
  color: #3a8afd;
  padding: 0 10px;
  border-radius: 3px;
}
#bo_v_title .bo_v_tit {
  display: block;
  font-size: 2em;
  margin: 5px 0 0;
  word-break: break-all;
}

#bo_v_info {
  margin: 0;
  border-bottom: 1px solid #f1f1f1;
  color: #666;
}
#bo_v_info:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_v_info h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

#bo_v_info .profile_info {
  margin: 20px 0 10px;
  display: inline-block;
  float: left;
}
#bo_v_info .profile_info .pf_img {
  float: left;
  margin-right: 10px;
}
#bo_v_info .profile_info .pf_img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#bo_v_info .profile_info .profile_info_ct {
  float: left;
  padding: 5px 0;
  line-height: 18px;
}

#bo_v_info strong {
  display: inline-block;
  margin: 0 10px 0 0;
  font-weight: normal;
}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {
  font-weight: bold;
}
#bo_v_info .profile_img {
  display: none;
}
#bo_v_info .sv_member {
  color: #000;
}
#bo_v_info .if_date {
  margin: 0;
  color: #888;
}

#bo_v_file h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_v_file ul {
  margin: 0;
  list-style: none;
}
#bo_v_file li {
  padding: 15px;
  position: relative;
  margin: 10px 0;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
  -moz-box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
  box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
}
#bo_v_file li i {
  float: left;
  color: #b2b2b2;
  font-size: 2.35em;
  margin-right: 20px;
}
#bo_v_file a {
  float: left;
  display: block;
  text-decoration: none;
  word-wrap: break-word;
  color: #000;
}
#bo_v_file a:focus,
#bo_v_file li:hover a,
#bo_v_file a:active {
  text-decoration: underline;
  color: #3a8afd;
}
#bo_v_file img {
  float: left;
  margin: 0 10px 0 0;
}
#bo_v_file .bo_v_file_cnt {
  color: #b2b2b2;
  font-size: 0.92em;
}
#bo_v_file li:hover {
  border-color: #bed4f4;
  color: #bed4f4;
}
#bo_v_file li:hover i {
  color: #3a8afd;
}
#bo_v_file li:hover .bo_v_file_cnt {
  color: #99c2fc;
}

#bo_v_link h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_v_file ul {
  margin: 0;
  list-style: none;
}
#bo_v_link li {
  padding: 15px;
  position: relative;
  margin: 10px 0;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
  -moz-box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
  box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
}
#bo_v_link li i {
  float: left;
  color: #b2b2b2;
  font-size: 2.35em;
  margin-right: 20px;
}
#bo_v_link a {
  float: left;
  display: block;
  text-decoration: none;
  word-wrap: break-word;
  color: #000;
}
#bo_v_link a:focus,
#bo_v_link li:hover a,
#bo_v_link a:active {
  text-decoration: underline;
  color: #3a8afd;
}
#bo_v_link .bo_v_link_cnt {
  color: #b2b2b2;
  font-size: 0.92em;
}
#bo_v_link li:hover {
  border-color: #bed4f4;
  color: #bed4f4;
}
#bo_v_link li:hover i {
  color: #3a8afd;
}
#bo_v_link li:hover .bo_v_link_cnt {
  color: #99c2fc;
}

#bo_v_top {
  zoom: 1;
}
#bo_v_top:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_v_top h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_v_top ul {
  padding: 0;
  list-style: none;
  word-break: break-all;
  background: #fff;
}

#bo_v_bot {
  zoom: 1;
}
#bo_v_bot:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_v_bot h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_v_bot ul {
  padding: 0;
  list-style: none;
}

.bo_v_com {
  margin: 20px 0;
  float: right;
}
.bo_v_com > li {
  position: relative;
  float: left;
  margin-left: 5px;
}

.bo_v_nb {
  position: relative;
  margin: 20px 0;
  clear: both;
  text-align: left;
}
.bo_v_nb:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
.bo_v_nb li {
  border-top: 1px solid #f1f1f1;
  padding: 13px;
}
.bo_v_nb li:last-child {
  border-bottom: 1px solid #f1f1f1;
}
.bo_v_nb li:hover {
  background: #f6f6f6;
}
.bo_v_nb li i {
  font-size: 13px;
  color: #b3b3b3;
}
.bo_v_nb li .nb_tit {
  display: inline-block;
  padding-right: 20px;
  color: #b3b3b3;
}
.bo_v_nb li .nb_date {
  float: right;
  color: #b3b3b3;
}

#bo_v_atc {
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
#bo_v_atc_title {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

#bo_v_img {
  width: 100%;
  overflow: hidden;
  zoom: 1;
}
#bo_v_img:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
#bo_v_img a.view_image {
  display: block;
}
#bo_v_img img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

#bo_v_con {
  margin: 10px 0 30px;
  width: 100%;
  line-height: 1.7em;
  min-height: 200px;
  word-break: break-all;
  overflow: hidden;
}
#bo_v_con a {
  color: #000;
  text-decoration: underline;
}
#bo_v_con img {
  max-width: 100%;
  height: auto;
}

#bo_v_act {
  margin-bottom: 30px;
  text-align: center;
}
#bo_v_act .bo_v_act_gng {
  position: relative;
}
#bo_v_act a {
  margin-right: 5px;
  vertical-align: middle;
  color: #4a5158;
}
#bo_v_act a:hover {
  background-color: #fff;
  color: #ff484f;
  border-color: #ff484f;
}
#bo_v_act i {
  font-size: 1.4em;
  margin-right: 5px;
}
#bo_v_act_good,
#bo_v_act_nogood {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 9999;
  padding: 10px 0;
  width: 165px;
  background: #ff3061;
  color: #fff;
  text-align: center;
}
#bo_v_act .bo_v_good {
  display: inline-block;
  border: 1px solid #dedede;
  width: 70px;
  line-height: 46px;
  border-radius: 30px;
}
#bo_v_act .bo_v_nogood {
  display: inline-block;
  border: 1px solid #dedede;
  width: 70px;
  line-height: 46px;
  border-radius: 30px;
}

/*
------------------------------------------------------------------------------------------------------------------------
폼메일 쓰기 스타일
------------------------------------------------------------------------------------------------------------------------
*/
#formmail-write {
  position: relative;
  border-top: 1px solid #e0dedf;
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto 100px auto;
  font-size: 18px;
}
#formmail-write .form-group {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
#formmail-write .form-group > label {
  padding: 0 20px;
  width: 20%;
}
#formmail-write .form-group > div {
  width: 80%;
}
#formmail-write .form-group.col4 > label {
  width: 20%;
}
#formmail-write .form-group.col4 > div {
  width: 30%;
}
#formmail-write .form-group .form-control {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e0dedf;
}
#formmail-write .form-footer {
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid #e0dedf;
}
#formmail-write .btn_submit {
  padding: 10px 20px;
  font-size: 1.2em;
  height: auto;
}
#formmail-write .check-list {
  position: absolute;
  right: 0;
  top: -30px;
}



/*반응형 css*/
.bo_list_head ul{border-top:1px solid #000;border-bottom:1px solid #ddd;height:padding:10px 0;margin:auto;}
.bo_list_head .w120{width:120px;text-align:center;}
.bo_list_head .w_subject{text-align:center;}
.bo_list_head .w50{width:80px;text-align:center;}
.bo_list_head ul li{
	padding: 15px 0;
    width: 100%;
    display: table;
    font-size: 15px;
    background: #f5f5f5;
    color: #323232;
}
.bo_list_head ul li span{float:left;text-align:center;}
.bo_list_head ul li span.s-check,
.bo_list ul li span.s-check {}
.bo_list_head ul li span.s-number,
.bo_list ul li span.s-number {width:10%;}
.bo_list_head ul li span.s-name,
.bo_list ul li span.s-name{width:58%;}
.bo_list_head ul li span.s-user,
.bo_list ul li span.s-user{width:12%;}
.bo_list_head ul li span.s-view,
.bo_list ul li span.s-view{width:10%;}
.bo_list_head ul li span.s-day,
.bo_list ul li span.s-day{width:13%;}
.s-data {width: 5%;}

.bo_list ul{background:#fff;margin-bottom:10px;max-width:1200px;margin:auto;}
.bo_list .w120{width:120px;text-align:center;}
.bo_list .w50{width:50px;text-align:center;}
.bo_list ul li{width:auto;border-bottom:1px solid #ddd;margin:0;display:table;width:100%;font-size:16px; padding: 20px 0px;}
.bo_list ul li:hover {
	background-color: #f7f7f7;
}
.bo_list ul li a{color:#666;}
.bo_list ul li span{float:left;color:#666;}
.bo_list ul li span .sv_member{float:none;color:#666;}
.bo_list ul li span{text-align:center;}
.bo_list ul li span.s-check input{vertical-align:-1px;}
.bo_list ul li span.s-name{text-align:left;}
.bo_list ul li span.s-name a{color:#111;}
.bo_list .cmt{color:#888; font-size:13px;height:16px;line-height:16px;padding:0 5px;vertical-align:middle;}
.bo_notice strong {
    display: block;
    background-color: #00165a;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    width: 70%;
    border-radius: 17px;
    padding: 3px 0;
    margin: auto;
}

@media screen and (max-width: 800px){
	.bo_list_head ul li{display:none;}
	.bo_list ul li span.s-check{width:10%;display:none;}
	.bo_list ul li span.s-number{width:10%;display:none;}
	.bo_list ul li span.s-name{width:100%;margin-bottom:5px;}
	.bo_list ul li span.s-user{width:auto;margin-right:10px;}
	.bo_list ul li span.s-view{width:auto;margin-right:10px;}
	.bo_list ul li span.s-day{width:auto;margin-right:10px;}
	#bo_sch{font-size:13px;}
	#bo_sch select{width:20%;}
	#bo_sch .sch_input{width:70%;}
	#bo_sch .sch_btn{width:10%;}
	#bo_v_top ul{}
}


@media screen and (min-width: 1024px){
}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}